<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Online Shopping</title>
	<style>
	h1 {
	color: red;
	}
	body {
	font-weight: 600;
	text-align: 'center';
	}

	</style>
</head>
<body>
	 

<h1>
Hi {{email}} 

</h1>
<p>
Welcome to beedy Online Shopping.
<b>Use this link now: {{url}}</b>

{{body}}

</p>
</body>
</html>